db.sqlite3
configuration.json
.vscode
__pycache__
node/modules
!framework.webpack.config.js 
Design
Design/*
*.js
!*.webpack.config.js
*.js.map
*.Javascript
*.jst
node_modules\*
Javascript/node_modules/*
manage.py
TestQuery*
DockerTestFile
*.svg
