db.sqlite3
migrations
configuration.json
.vscode
__pycache__
node/modules
Design
Design/*
*.js
*.js.map
*.Javascript
*.jst
node_modules\*
Javascript/node_modules/*
manage.py
TestQuery*
*.svg
Dockerfile