.digit {
    display:inline-block;
    font-family: 'Quicksand', sans-serif;
}

#timeDisplay {
    font-size:0.4em;
}

#dateDisplay {
    font-size:0.1em;
}

#hourSeperator {
    padding-left:3px;
    padding-right:3px;
}

#monthElement{
    padding-right:3px;
}

#dayOfWeekSeperator {
    padding-right:5px;
}

/*hourFistDigit
hourSecondDigit */
#hourContainer  {

}
/*minuteFirstDigit 
minuteSecondDigit */
minuteContainer {

}
/*hourSeperator 
monthElement 
dayOfWeekElememt 
dayOfMonthElement
yearElement 
timeDisplay */