.digit {
    display:inline-block;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top:0%;
}

#timeDisplay {
    height:40%;
    font-size:3em;
    overflow: hidden;
}

#dateDisplay {
    height:50%;
}

#hourSeperator {
    padding-left:3px;
    padding-right:3px;
}

#monthElement{
    padding-right:3px;
}

#hourFirstDigit {
    height:100%;
}

.blinkPerSecond {
    animation-name:blink;
    animation-duration:1s;
    animation-iteration-count: infinite;
}

.digitWheel {
    position: relative;
    float:left;
    padding-right:5px;;
}

#dayOfWeekSeperator {
    padding-right:5px;
}

/*hourFistDigit
hourSecondDigit */
#hourContainer  {
    float:left;
}

#minuteSecondDigit {
    position: relative;
}

.dateseperator {
    padding-right:5%;
}

/*minuteFirstDigit 
minuteContainer {

}
/*hourSeperator 
monthElement 
dayOfWeekElememt 
dayOfMonthElement
yearElement 
timeDisplay */