<div id="timeDisplay">
    <div id="hourContainer" class="digit">
        <div id="hourFirstDigit" class="digit">{{hourFirstDigit}}</div>
        <div id="hourSecondDigit" class="digit">{{hourSecondDigit}}</div>
    </div>
    <div id="hourSeperator" class="digit">{{hourSeperator}}</div>
    <div id="minuteContainer" class="digit">
        <div id="minuteFirstDigit" class="digit">{{minuteFirstDigit}}</div>
        <div id="minuteSecondDigit" class="digit">{{minuteSecondDigit}}</div>
    </div>
</div>
<div id="dateDisplay">
    <div id="dayOfWeekElement" class="digit">{{dayOfWeek}}</div>
    <div id="dayOfWeekSeperator" class="digit">{{dayOfWeekSeperator}}</div>
    <div id="monthElement" class="digit">{{month}}</div>
    <div id="dayOfMonthElement" class="digit">{{dayOfMonth}}</div>
    <div id="dayOfMonthSeperator" class="digit">&nbsp</div>
    <div id="yearElement" class="digit">{{year}}</div>
</div>