<div style="position:  absolute;height: 500px;right: 0px;top: 0px;padding: 20px; ">
    <div id="weatherContainer" style=" display: flex; flex-direction: column; /* height: 10vw; */">
        <div id="currentWeatherPanel" style="width: 100%;flex-grow: 1;">
            <i class="weatherIcon wi wi-owm-{{icon}}" style="font-size: 27vw;"></i>
            <div id="currentTemp" style="font-size: 8vw;width: 100%;line-height: 8vw;margin: 0 auto;text-align:  center;font-family: Quicksand;">
                {{main_temp|floatformat:0}} {{tempUnit}}
            </div>
        </div>
    <div class="shrinkToFit">
        <div class="label" id="labelCurrent" style="font-size: 2vw;font-family: Quicksand;">
            Current Weather
        </div>
    <div>
    
    <table id="additionalValues" style="width: 100%;border: 0.1vw solid white;">
            <tbody style="/* font-size:  200px; */">
                <tr id="sunStatusRow" style="font-size: 2vw;">
                    <td class="inlineLabel" id="highTempLabel" style="width: 25%;">
                        High
                    </td>
                    <td id="highTemp">
                        {{high_temp|floatformat:0}} {{tempUnit}}
                    </td>
                    <td class="inlineLabel" id="lowTempLabel">
                        Low
                    </td>
                    <td id="sunriseTime">
                        {{low_temp|floatformat:0}} {{tempUnit}}
                    </td>
                </tr>
                <tr id="percipitationRow" style="font-size: 2vw;">
                    <td class="inlineLabel" id="humidityLabel">
                        Humidity
                    </td>
                    <td id="humidityValue">
                        {{humidity}}
                    </td>
                    <td class="inlineLabel" id="snowLabel">
                        Snow
                    </td>
                    <td id="snowAmount">
                        {{snow_amt}}
                    </td>
                </tr>
            <tr id="sunStatusRow" style="font-size: 2vw;">
                    <td class="inlineLabel" id="sunriseLabel">
                        Sunrise
                    </td>
                    <td id="sunriseTime">
                        {{sunrise}}
                    </td>
                    <td class="inlineLabel" id="sunsetLabel">
                        Sunset
                    </td>
                    <td id="sunsetTime">
                        {{sunset}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
