.currentTemp {
    color:black;
    background:lightgray;
}

.verticalColumn {
    display:flex;
    flex-direction: column;
    margin:0 auto;
}

.name {
    width:100%;
    flex-grow:1;
    font-size:0.75em;
    text-align: center;
}

.tempSection {
    flex-grow: 1;
    text-align: center;
    font-size:1.3em;
}

.tempContainer {
    display: flex;
    position: relative;
    width:100%;
}


.tempEntry {
    width:33%;
    display:flex;
    font-size:2em;
    border-radius:6px;
}

.weatherDetails {
    width:100%;
    height:200px;
    display:flex;
    padding-top:10px;
    font-size:200%;
}

.smallIconContainer {
    padding-top:0.05em;
}

.percipitation{
    display:flex;
    text-align: center;
}

.mainIcon {
    flex-grow:2;
    height:100%;
}

.largeIcon {
    font-size:5em;
    text-align: center;
}

.smallText {
    padding-bottom: 0.4em;
}

.alignCenter {
    text-align: center;
}

.flexSizeHalf {
    flex-grow: 2;
}

.flexSizeQuarter {
    flex-grow: 1;
}

.forcastColumn {
    font-family: 'Quicksand', sans-serif;
    margin-right:5px;
    font-size:200%;
}

.forcastColumn .wi {
    font-size: 2em;
}

